#absendenForm1 {
	margin-top: 5px;
}

#form1 {
	border: 2px solid black;
    margin-bottom: 5px;
	margin-top: 5px;
}

#form2 {
	border: solid green 2px;
}

table button {
	width: 100%;
}

